.select-field {
    margin: auto;
    padding: auto;
    text-align: left;
    margin: 20px;
    width: 100%;
    }
    
    .select-label {
    color: blueviolet;
    font-size: 18px;
    opacity: .8;
    }
    
    .helper-text {
    color: black;
    font-size: 14px;
    opacity: .8;
    }
    .select-error{
        color: red;
        font-size: 14px;
        opacity: .8;
    }
