@import "../Styles/variables";
@import "../Styles/mixins";
@import "../Styles/extends";

.switch-field {
    @include componentField;
}

.switch-label {
    @include componentLabel;
}

.switch-container {
    position: relative;
    width: 56px;
    height: 30px;
}

.switch-container input {
    opacity: 0;
    width: 0;
    height: 0;
}

.helper-text {
    color: $helperTextColor;
    @extend %helper-error-text-size-opacity;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(220, 220, 220);
    transition: .3s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .3s;
}

input:checked+.slider {
    background-color: $labelTextColor;
}


input:checked+.slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 30px;
}

.slider.round:before {
    border-radius: 50%;
}