%helper-error-text-size-opacity{
    font-size: $helperErrorTextSize;
    opacity: $primaryOpacity;
}
%header-text-size-opacity{
    font-size: $headerTextSize;
    opacity: $primaryOpacity;
}

%btn{
  font-size: $headerTextSize;
  background-color: $headerTextColor;
  border-radius: 4px;
  color:#ccc ;
  padding: 14px 30px;
  text-align: center;
  cursor: pointer;
}