@mixin componentField() {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

@mixin componentLabel() {
    color: $labelTextColor;
    @extend %label-text-size-opacity;
}

@mixin column (){
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

