@import "../Styles/variables";
@import "../Styles/mixins";
@import "../Styles/extends";

.checkbox-field {
    @include componentField;
}

.checkbox-header {
    @include componentHeader;
}

.column{
    @include column;
}

.checkbox-error {
    color: $errorTextColor;
    @extend %helper-error-text-size-opacity;
}

.helper-text {
    color: $helperTextColor;
    @extend %helper-error-text-size-opacity;
}
.checkbox-label{
    margin: 3px 3px 0px 0px;
}