.checkbox-field{
    margin: auto;
    padding: auto;
    text-align: left;
    margin: 20px;
}
.checkbox-header{
    color: rgb(71, 71, 241);
}
.checkbox-container{
    display: flex;
}
.column{
    flex-direction: column;
}
.checkbox-label{
    display: block;
    padding: auto;
    
}
.checkbox-input{
   margin: 5px; 
}
.error{
    color: red;
    opacity: 0.8;
}
.helper-text{
    opacity: 0.8;
}