@import "../Styles/variables";
@import "../Styles/mixins";
@import "../Styles/extends";

.phone-field{
    @include componentField;
}
.phonefield-header{
    @include componentHeader;   
}

.phonefield-helper{
    color: $helperTextColor;
    @extend %helper-error-text-size-opacity;
}
.phonefield-error{
    color: $errorTextColor;
    @extend %helper-error-text-size-opacity;
}

.phonefield-container{
    display: flex;
}
.phonefield-select{
    @include selectoption;
    width: 95px;
}
.phonefield-input{
    margin-left: 5px;
    @include inputbox;
    width: 150px;
}

