@import "../Styles/variables";
@import "../Styles/mixins";
@import "../Styles/extends";

.phone-field{
    @include componentField;
}
.phonefield-label{
    @include componentLabel;   
}

.phonefield-container{
    display: flex;
}
.phonefield-select{
    @include selectoption;
    width: 95px;
}
.phonefield-input{
    margin-left: 5px;
    @include inputbox;
    width: 150px;
}

