body{
    background-color: #e9e9e9;
}

.test-form-field{
    background-color:white;
    border-radius: 5px;
    padding: 35px;
    margin: 25px;
}

.placewidth{
    width: 100% !important;
}

.contactwidth{
    width: 100% !important;
}
.rlinkwidth{
    width: 100% !important;
}
.tanddwidth{
    width: 100% !important;
}

.websitewidth{
    width: 100% !important;
}
.emailwidth{
    width: 100% !important;
}
.iglinkwidth{
    width: 100% !important;
}
.sdiswidth{
    width: 100% !important;
}
.diswidth{
    width: 100% !important;
}







